spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:54322/muyun_spring_app
    username: postgres
    password: muyun_dev

server:
  port: 8081

muyun:
  web:
    cors:
      allowed-origins: http://127.0.0.1:5174
  runtime:
    mode: development
  initial-admin:
    initial-password: admin123
